:root {
    --black: #070707;
    --wheat: #f5f5f5;
    --hotpink: #ff69b438;
}

/* RESETS */
body,p,a,ul,li {
    font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;  
}

li {
    list-style-type: none;
}

body {
    overflow-x: hidden;
}

/* HERO, MENU, TITLE AND NAV BTNS */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 3vh;
  font-weight: bold;
}
    
.menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 5vh;
}
    
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3vh;
    height: 95vh;
    padding: 1rem;
    color: white;
    background: url(./img/photo-1508855173839-a6d69c12573a.jpg) center center no-repeat;
    background-size: cover;   
}

.hero-header {
    text-align: center;
}

.hero-header, .hero-footer {
   margin-bottom: 9rem;
}

.hero-title {
    max-width: 16em;
    margin: 0;
    font-size: 8vh;
    font-weight: bold;
    line-height: .9;
}

.hero-header h2 {
    max-width: 16em;
    margin: 0;
    font-size: 3vh;
    font-weight: bold;
    line-height: .9;
    padding-top: 2rem;
}

.hero-footer {
    display: flex; 
    justify-content: center;
}

.button {
    padding: .3em .10em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: .1em solid white;
}
    
.button-primary {
        color: var(--black);
        background-color: rgb(255, 255, 255);
}
/* HERO, MENU, TITLE AND NAV BTNS, END*/
    
/* SVG ICONS WITH LINKS */
.options-grid {
    display: grid;
    grid-template-areas: 
        "accommodation"
        "restaurants"
        "sightseeing"
        "beaches";
        grid-gap: 1rem;
}

.options-grid img {
    width: 4em;
}

.options-grid h2 {
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-style: solid;
}

.opt__boxes--small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.opt__boxes--small-1 {
    grid-area: accommodation;
}

.opt__boxes--small-2 {
    grid-area: restaurants;
}

.opt__boxes--small-3 {
    grid-area: sightseeing;
}

.opt__boxes--small-4 {
    grid-area: beaches;
}

.alternatives-grid {
    display: grid;
    grid-template-areas: 
        "img1"
        "img2"
        "img3";
        grid-gap: 1rem;
        margin-top: .1rem;
}

figure img {
    max-width: 100%;
}

.alt-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alt__img-1 {
    grid-area: img1 ;
}

.alt__img-2 {
    grid-area: img2;
}

.alt__img-3 {
    grid-area: img3;
}












